.product-app {
  background-color: $productBenefitsColor;
  padding: 1em 0;
}

.product-app-group {
  max-width: $maxContainerWidth;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, minmax(10rem, 1fr));
  align-items: self-end;
  justify-items: center;
  width: 90%;
}

.product-app-1-tagline {
  grid-row: 1/2;
  grid-column: span 8;
  font-size: 2rem;
  font-weight: 600;
  width: 100%;
}

.product-app-1-image {
  grid-row: 2/3;
  grid-column: span 8;
  background: url("../assets/app-screenshots/clean-scan.png") no-repeat center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.product-app-2-tagline {
  grid-row: 3/4;
  grid-column: 1/9;
  font-size: 2rem;
  font-weight: 600;
  width: 100%;
}

.product-app-2-image {
  grid-row: 4/5;
  grid-column: span 8;
  background: url("../assets/app-screenshots/clean-habits.png") no-repeat center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.product-app-3-tagline {
  grid-row: 5/6;
  grid-column: span 8;
  font-size: 2rem;
  font-weight: 600;
  width: 100%;
}

.product-app-3-image {
  grid-row: 6/7;
  grid-column: span 8;
  background: url("../assets/app-screenshots/clean-launcher.png") no-repeat
    center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.product-app-4-tagline {
  grid-row: 7/8;
  grid-column: span 8;
  font-size: 2rem;
  font-weight: 600;
  width: 100%;
  padding-top: 4rem;
}

.product-app-4-image {
  grid-row: 8/9;
  grid-column: span 8;
  background: url("../assets/app-screenshots/clean-todo.png") no-repeat center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

@include breakpoint("from-tablet-p") {
  .product-app {
    padding-left: 2rem;
  }

  .product-app-group {
    align-items: center;
  }

  .product-app-1-tagline {
    grid-row: 1/3;
    grid-column: 1/4;
  }

  .product-app-1-image {
    grid-row: 1/3;
    grid-column: 5/9;
  }

  .product-app-2-tagline {
    grid-row: 3/5;
    grid-column: 5/9;
  }

  .product-app-2-image {
    grid-row: 3/5;
    grid-column: 1/4;
  }

  .product-app-3-tagline {
    grid-row: 5/7;
    grid-column: 1/4;
  }

  .product-app-3-image {
    grid-row: 5/7;
    grid-column: 5/9;
  }

  .product-app-4-tagline {
    grid-row: 7/9;
    grid-column: 5/9;
  }

  .product-app-4-image {
    grid-row: 7/9;
    grid-column: 1/4;
  }
}

.subtitle {
  font-weight: 300;
}

@include breakpoint("from-laptop") {
  .product-app {
    padding-left: 2rem;
  }

  .product-app-group {
    grid-template-rows: repeat(8, minmax(16rem, 1fr));
    align-items: center;
    grid-gap: 2em;
  }
}
