.button {
  margin: 1.5em;
  padding: 0.75em 1.25em;
  background-color: $buttonColor;
  color: $backgroundColor;
  border-radius: 2rem;
  border: 0;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.button-valprop {
  margin-top: 1.5em;
}

.button:hover {
  opacity: 0.5;
}

.button-outline {
  margin: 1.5em;
  padding: 0.75em 1.25em;
  color: $buttonColor;
  border-color: $buttonColor;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.button-outline:hover {
  background-color: $buttonColor;
  color: $backgroundColor;
}

.b-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@include breakpoint("from-tablet-p") {
  .button {
    font-size: 1.25rem;
  }
  .button-outline {
    font-size: 1.25rem;
  }
}
